---
import Certificates from "@components/Certificates.astro";
import Proyecto from "@components/main/Proyecto";
import Repositories from "@components/Repository";
import Layout from "@layouts/Layout.astro";

const ProjectsData = [
    {
        id: "project5",
        role: "Application Developer",
        time: "2025 - Present",
        location: "Reynosa, Tamaulipas, México",
        at: {
            company: "MMS (Multi Servicios Medicos Santander)",
            isLink: true,
            link: "https://mmsantander.com.mx/"
        },
        description: "As an application developer, I dedicate myself to creating systems both for the internal operation of the company and for systems that are used by users who receive the service as well as by users who belong to the company's medical network.",
        skills: [
            { name: "C#", icon: "nf-seti-c_sharp", color: "#2496ED" },
            { name: "MS SQL", icon: "nf-seti-db", color: "#2496ED" },
            { name: "Javascript", icon: "nf-dev-javascript", color: "#F7DF1E"},
            { name: "Typescript", icon: "nf-md-language_typescript", color: "#3178C6"},
            { name: "MySQL", icon: "nf-dev-mysql", color: "#457B9D" },
            { name: "Git", icon: "nf-md-git", color: "#F05032" },
            { name: "Docker", icon: "nf-fa-docker", color: "#2496ED" },
            { name: "HTML", icon: "nf-dev-html5", color: "#E34F26" },
            { name: "css", icon: "nf-dev-css3", color: "#1572B6"}
        ]
    },
    {
        id: "project1",
        role: "Web Application Developer",
        time: "2024 - 2025",
        location: "Reynosa, Tamaulipas, México",
        at: {
            company: "Profesional Freelancer",
            isLink: false,
            url: ""
        },
        description: "As an autonomous web developer, I have specialized in designing and building efficient digital solutions, scalable and focused on the real needs of each client.",
        skills: [
            { name: "Go", icon: "nf-md-language_go", color: "#00ADD8" },
            { name: "NextJs", icon: "nf-dev-nextjs", color: "#000000" },
            { name: "PostgreSQL", icon: "nf-dev-postgresql", color: "#4169E1" },
            { name: "TailwindCSS", icon: "nf-dev-tailwindcss", color: "#06B6D4" },
            { name: "Git", icon: "nf-md-git", color: "#F05032" },
            { name: "Docker", icon: "nf-fa-docker", color: "#2496ED" },
            { name: "Typescript", icon: "nf-md-language_typescript", color: "#3178C6"},
            { name: "React", icon: "nf-dev-react", color: "#61DAFB" },
            { name: "MySQL", icon: "nf-dev-mysql", color: "#457B9D" },
            { name: "Javascript", icon: "nf-dev-javascript", color: "#F7DF1E"}
        ]
    },
    {
        id: "project2",
        role: "Fullstack Developer JR",
        time: "2023 - 2024",
        location: "Reynosa, Tamaulipas, México",
        at: {
            company: "Zero Day Software Company",
            isLink: false,
            url: ""
        },
        description: "I designed and developed responsive user interfaces using HTML, JavaScript and W3.CSS, while optimizing and maintaining the backend endpoints with PHP to improve system performance. Additionally, architect and deployed personalized micros Services with PHP and Docker, and I collaborated in a git version control environment, ensuring a clean and documented code under the best practices of the industry.",
        skills: [
            { name: "Docker", icon: "nf-fa-docker", color: "#2496ED" },
            { name: "Git", icon: "nf-md-git", color: "#F05032" },
            { name: "PHP", icon: "nf-dev-php", color: "#777BB4" },
            { name: "MySQL", icon: "nf-dev-mysql", color: "#457B9D" },
            { name: "HTML", icon: "nf-dev-html5", color: "#E34F26" },
            { name: "JavaScript", icon: "nf-dev-javascript", color: "#F7DF1E" },
            { name: "css", icon: "nf-dev-css3", color: "#1572B6"}
        ]
    },
    {
        id: "project3",
        role: "Web Developer",
        time: "2021 - 2021",
        location: "Reynosa, Tamaulipas, México",
        at: {
            company: "Comercializadora Alidec",
            isLink: false,
            url: ""
        },
        description: "I designed an integral website structure that includes key sections such as contact, about us, services and gallery, which guarantees a logical and easy -to -use navigation experience.",
        skills: [
            { name: "HTML", icon: "nf-dev-html5", color: "#E34F26" },
            { name: "CSS", icon: "nf-dev-css3", color: "#1572B6" },
            { name: "JavaScript", icon: "nf-dev-javascript", color: "#F7DF1E" },
        ]
    },
    {
        id: "project4",
        role: "Fullstack Developer",
        time: "2021 - 2021",
        location: "Reynosa, Tamaulipas, México",
        at: {
            company: "Alcomar",
            isLink: false,
            url: ""
        },
        description: "I designed a standardized website structure that incorporates essential sections such as contact, about us and products. I developed a solid backend to support the website using the Laravel framework, which guarantees efficient data management. I created and optimized an MySQL database structure, implementing migrations through the Laravel ORM to guarantee the integrity and scalability of the data.",
        skills: [
            { name: "HTML", icon: "nf-dev-html5", color: "#E34F26" },
            { name: "CSS", icon: "nf-dev-css3", color: "#1572B6" },
            { name: "JavaScript", icon: "nf-dev-javascript", color: "#F7DF1E" },
            { name: "PHP", icon: "nf-dev-php", color: "#777BB4" },
            { name: "MySQL", icon: "nf-dev-mysql", color: "#457B9D" },
            { name: "Laravel", icon: "nf-dev-laravel", color: "#FF2D00" }
        ]
    }
]
---
<Layout title="Leonardo Castro Official Website, Portfolio and CV">
	<main class="box mx-auto px-2">
        <!-- header -->
        <header class="pt-32">
            <div class="flex justify-between items-center space-x-8">
                <div class="bg-teal-600 rounded-full w-[120px]">
                    <img class="w-[120px] rounded-full" src="/assets/media/images/profile2.webp" alt="foto de perfil de Leonardo Castro">
                </div>
                <div class="flex-grow">
                    <h1 class="text-lg font-bold">Leonardo Daniel Castro Morales</h1>
                    <h2 class="text-md text-zinc-700 dark:text-zinc-400">Backend/Fullstack Developer</h2>
                    <h3 class="text-md text-zinc-600 dark:text-zinc-600 space-x-2">
                        <a href="https://www.linkedin.com/in/ldcmleo" class="hover:text-teal-600"><i class="nf nf-dev-linkedin"></i> Linkedin</a>
                        <a href="https://github.com/ldcmleo" class="hover:text-teal-600"><i class="nf nf-cod-github"></i> Github</a>
                        <a href="" class="hover:text-teal-600"><i class="nf nf-md-file_document"></i>CV</a>
                    </h3>
                </div>
            </div>
        </header>
        <section class="pt-12">
            <h1 class="text-lg">About me</h1>
            <div class="text-zinc-700 dark:text-zinc-400">
                <p>I am a self-taught Backend developer with focus on the creation of functional, simple and sustainable platforms. I am interested in both software engineering and its impact on the real world. I currently work with Go, APIS Rest design, microservices, and SQL databases.</p>
            </div>
        </section>
        <section class="pt-12 pb-12">
            <h1 class="text-lg pb-8">Experience</h1>
            <div class="space-y-8">
            {
                ProjectsData.map((obj: any) => (
                    <Proyecto data={obj} client:load />
                ))
            }
            </div>
        </section>
        <section class="pt-12 pb-12">
            <h1 class="text-lg pb-8">Education</h1>
            <div class="md:flex md:space-x-4">
                <div class="min-w-[120px]">
                    <span class="text-sm text-zinc-700 dark:text-zinc-400">2015 - 2020</span>
                </div>
                <div>
                    <h1>TecNM Campus Reynosa</h1>
                    <h2 class="text-md text-zinc-700 dark:text-zinc-400">Engineering in Information and Communication Technologies</h2>
                </div>
            </div>
            <h2 class="text-md text-zinc-700 dark:text-zinc-400 pt-8 pb-4">Certificates</h2>
            <Certificates />
        </section>
        <section class="pt-12 pb-12">
            <h1 class="text-lg pb-8">More about me</h1>
            <div class="space-y-8">
                <div class="md:flex md:space-x-4">
                    <div class="min-w-[120px]">
                        <span class="text-sm text-zinc-700 dark:text-zinc-400">Birthday</span>
                    </div>
                    <div>
                        <h1>March 5</h1>
                    </div>
                </div>
                <div class="md:flex md:space-x-4">
                    <div class="min-w-[120px]">
                        <span class="text-sm text-zinc-700 dark:text-zinc-400">Languages</span>
                    </div>
                    <div>
                        <h1>Spanish - Native</h1>
                        <h2 class="text-md text-zinc-700 dark:text-zinc-400">English - B1</h2>
                        <h3 class="text-md text-zinc-700 dark:text-zinc-400">Czech - A1</h3>
                    </div>
                </div>
            </div>
            <h2 class="text-md text-zinc-700 dark:text-zinc-400 pt-8 pb-4">Other Projects</h2>
            <div class="space-y-8">
                <div class="md:flex md:space-x-4">
                    <div class="min-w-[120px]">
                        <span class="text-sm text-zinc-700 dark:text-zinc-400">December 2020</span>
                    </div>
                    <div>
                        <div class="w-[65px] h-[120px] bg-center bg-cover bg-no-repeat mb-2" style="background-image: url('https://www.megustaescribir.com/Images/COVER_MANUSCRIPT_106275');"></div>
                        <h1>Escritura creativa</h1>
                        <p class="text-sm text-zinc-700 dark:text-zinc-400">I wrote a short story called 'Father`, a story of reflection on life and interpersonal relationships. You can read it in <a target="_blank" href="https://www.megustaescribir.com/obra/106275/padre" class="hover:text-teal-600 transition-all ease-in duration-150 underline">megustaescribir.com</a></p>
                    </div>
                </div>
                <div class="md:flex md:space-x-4">
                    <div class="min-w-[120px]">
                        <span class="text-sm text-zinc-700 dark:text-zinc-400">2023 - Present</span>
                    </div>
                    <div>
                        <div class="w-[100px] h-[80px] bg-center bg-cover bg-no-repeat rounded-md mb-2" style="background-image: url('https://img.itch.zone/aW1nLzE2NzQ5ODYzLnBuZw==/315x250%23c/VueAIQ.png');"></div>
                        <h1>RPG Cozy Game with <a href="https://ellen0ra.itch.io" class="hover:text-teal-600 transition-all ease-in duration-150 underline">@Ellenora</a></h1>
                        <p class="text-sm text-zinc-700 dark:text-zinc-400">As a video game enthusiast, one of my favorite hobbies is the development of games. This project is a cozy role -playing game like Stardew Valley and Animal Crossing. It develops completely in the Godot Game Engine and is intended as a collaboration project with Ellenora. This simple project serves as a practice for me and a step towards fulfilling one of my dreams: officially publishing a game. Through this project, its objective is to refine my skills in games development, work in collaborative creativity and contribute a pleasant game experience to others.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-12 pb-12">
            <h1 class="text-md text-zinc-700 dark:text-zinc-400 pt-8 pb-4">Repositories</h1>
            <Repositories client:visible />
        </section>
    </main>
</Layout>
