@import "https://www.nerdfonts.com/assets/css/webfont.css";
@font-face {
    font-family: "ShareTech";
    src: url("../media/fonts/ShareTech-Regular.ttf");
}

@font-face {
    font-family: "Ysabeau";
    src: url("../media/fonts/YsabeauInfant-VariableFont_wght.ttf");
}

.sharetech { font-family: "ShareTech"; }
.ysabeau { font-family: "Ysabeau"; }

.box {
    max-width: 960px;
    margin: 0 auto;
}

.header-name {
    transform: translateY(-50px);
}

.header-socials {
    transform: translateX(50%);
}

.header-up {
    transform: translateX(75%);
}

.granulado {
    position: relative;
    overflow: hidden;
}

.granulado:before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    background-blend-mode: multiply;
    opacity: 0.15;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media (max-width: 720px) {
    .granulado:before {
        background-size: 350px;
    }
}

.btn:hover span {
    display: inline-block;
}