@font-face {
    font-family: "ShareTech";
    src: url("../media/fonts/ShareTech-Regular.ttf");
}

@font-face {
    font-family: "Ysabeau";
    src: url("../media/fonts/YsabeauInfant-VariableFont_wght.ttf");
}

.sharetech { font-family: "ShareTech"; }
.ysabeau { font-family: "Ysabeau"; }

.box {
    max-width: 960px;
    margin: 0 auto;
}

.header-object {
    transform: translateY(-50px);
}

.header-object-2 {
    transform: translateX(150%);
}