---
import Layout from "@layouts/Layout.astro";


---
<Layout title="Page not found">
    <div class="flex justify-center items-center h-screen">
        <div class="text-center">
            <h1 class="text-2xl">Page Not Found</h1>
            <a class="underline" href="/">Go Back</a>
        </div>
    </div>
</Layout>