---

---
<section class="relative grid grid-cols-8 gap-4 mx-2 pb-4 lg:mx-0">
    <div class="relative overflow-hidden order-2 md:order-1 col-span-8 md:col-span-5 lg:col-span-6 p-8 rounded-md shadow-md">
        <div class="granulado"></div>
        <h1 class="text-2xl font-bold text-center text-teal-700 md:text-left">Leonardo Castro</h1>
        <div class="flex justify-center items-center text-teal-950 dark:text-zinc-400 uppercase space-x-2 md:justify-start md:text-xs pb-2">
            <h2>Web developer</h2>
            <h2>Freelancer</h2>
            <h2>Cat Lover</h2>
        </div>
        <p class="text-sm">Web Developer with 4 years of expertise in designing and implementing responsive web applications, specializing in backend development. Proficient in PHP, JavaScript, and frameworks such as Laravel and Node.js. Skilled in creating RESTful APIs and optimizing database performance with MySQL. Experienced in using version control systems like Git and deployment in cloud environments, particularly AWS. Driven by a strong sense of curiosity, innovation, and a commitment to leveraging my skills to solve complex problems and deliver high-quality solutions.</p>
    </div>
    <div class="relative order-1 md:order-2 col-span-8 md:col-span-3 lg:col-span-2 rounded-md shadow-md overflow-hidden">
        <div class="granulado"></div>
        <img class="w-1/2 mx-auto my-8 rounded-full md:h-full md:w-full md:m-0 md:rounded-none" src="assets/media/images/profile.jpg" alt="profile picture from leonardo castro">
    </div>
</section>
<style>
    h1,
    h2 {
        font-family: "Share Tech", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
</style>