---
import Certificate from "./Certificate.astro";
import Title from "./Title.astro";
const certificatesData = [
    {
        title: "Docker de Cero a Experto",
        company: {
            name: "Udemy",
            url: "https://www.udemy.com"
        },
        date: "October 2024",
        id: "UC-ae956450-4aef-45b7-be4b-00187c055970",
        url: "https://www.udemy.com/certificate/UC-ae956450-4aef-45b7-be4b-00187c055970/",
        skills: [
            "Docker",
            "Docker Swarm",
            "Kubernetes"
        ]
    },
    {
        title: "Aprende Redis desde Cero",
        company: {
            name: "Udemy",
            url: "https://www.udemy.com"
        },
        date: "December 2023",
        id: "UC-b800e1ec-2172-4305-a25b-5e8a8d18172e",
        url: "https://www.udemy.com/certificate/UC-b800e1ec-2172-4305-a25b-5e8a8d18172e/",
        skills: [
            "Redis"
        ]
    }
];
---
<section class="space-y-8">
    {certificatesData.map((certificate) => (
        <Certificate data={certificate} />
    ))}
</section>