---

---
<footer class="pt-6 pb-8 text-center" style="font-family: 'sharetech';">
    <p>Leonardo Castro @ <a class="hover:text-teal-700 transition-colors ease-in duration-150" href="https://github.com/ldcmleo/ldcmleo.github.io">Official Website</a></p>
    <a class="text-xs text-gray-500 hover:text-purple-700 transition-colors ease-in duration-150" href="https://astro.build/">Made with <i class="nf nf-custom-astro"></i> Astro Framework</a>
</footer>