---
import AboutMe from "./AboutMe.astro"
import Certificates from "./Certificates.astro"
import More from "./More.astro"
import Projects from "./Projects.astro"
import Repositories from "./Repository"
---
<main class="box pt-14">
    <AboutMe />
    <Projects />
    <Certificates />
    <Repositories client:visible/>
    <More />
</main>