---
import MoreLanguage from './MoreLanguage.astro';
import Title from './Title.astro';
---

<section class="grid grid-cols-12 gap-4 mx-2 pb-4 lg:mx-0">
    <Title Text="More about me" IconClass="nf-fa-image_portrait" ColSpan="col-span-12" />
    <div class="col-span-12 md:col-span-3 flex space-y-4 flex-col">
        <div class="relative overflow-hidden rounded-md shadow-md p-8">
            <div class="granulado"></div>
            <div class="flex h-full w-full justify-center items-center">
                <h1 class="text-2xl text-center sharetech"><i class="nf nf-fa-birthday_cake text-yellow-500"></i> Mar. 5</h1>
            </div>
        </div>
        <div class="relative overflow-hidden rounded-md shadow-md p-8 flex-grow">
            <div class="granulado"></div>
            <div class="flex h-full w-full justify-center items-center">
                <div>
                    <h1 class="text-center text-xs sharetech">Prefered Language</h1>
                    <p class="text-center text-6xl sharetech"><i class="nf nf-md-language_go text-sky-600"></i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-12 md:col-span-9 text-center md:text-left relative overflow-hidden rounded-md shadow-md p-8">
        <div class="granulado"></div>
        <a class="float-none md:float-left md:pr-4" href="https://ellen0ra.itch.io/food-icons">
            <img class="w-full md:w-44 rounded-md" src="https://img.itch.zone/aW1nLzE2NzQ5ODYzLnBuZw==/315x250%23c/VueAIQ.png" alt="Ellenora's food icons image reference">
        </a>
        <h1 class="text-2xl sharetech text-teal-700">Cozy RPG Game feat. <a class="text-teal-600 hover:text-black dark:hover:text-white transition-all ease-in duration-150" href="https://ellen0ra.itch.io/">@Ellen0ra</a></h1>
        <p class="text-left">As a video game enthusiast, one of my favorite hobbies is game development. This project is a cozy RPG inspired by games like Stardew Valley and Animal Crossing. It is developed entirely in the Godot game engine and is intended as a collaborative project with Ellenora. This simple project serves as both practice for me and a step towards fulfilling one of my dreams: to officially publish a game. Through this project, I aim to refine my skills in game development, work on collaborative creativity, and bring an enjoyable gaming experience to others.</p>
    </div>
    <a class="relative col-span-12 md:col-span-6 overflow-hidden rounded-md shadow-md p-8 md:p-4 lg:p-8 hover:bg-opacity-15 hover:bg-gray-200 dark:hover:bg-opacity-15 dark:hover:bg-teal-700" href="https://play.google.com/store/apps/details?id=org.leonardoechoo.projectcentauri&hl=es&pli=1">
        <div class="granulado"></div>
        <span class="absolute top-2 right-2 nf nf-oct-arrow_up_right"></span>
        <div class="flex flex-col md:flex-row h-full items-center">
            <img class="rounded-md" width="130" src="https://play-lh.googleusercontent.com/QFb23jVx1x8sjSt_vtVVl6-Wmeupw8LkyYjmqvxSCXFezEmWhyr7uJoSkCS7xub6kw=w240-h480" alt="Project centauri reference image">
            <div class="md:pl-4 h-full">
                <h1 class="text-2xl sharetech text-teal-700 text-center md:text-left">Project Centauri</h1>
                <p>Long time ago, I made a casual game as a challange and published it in the playstore. It is made with Godot game engine</p>
            </div>
        </div>
    </a>
    <div class="col-span-12 md:col-span-6">
        <div class="grid grid-cols-6 gap-4">
            <div class="relative col-span-3 overflow-hidden rounded-md shadow-md p-8">
                <div class="granulado"></div>
                <p class="sharetech text-2xl text-center text-teal-700">Languages</p>
            </div>
            <MoreLanguage Language="Español" Level="Native" LevelClass="level-100" />
            <MoreLanguage Language="English" Level="B1" LevelClass="level-50" />
            <MoreLanguage Language="Čeština" Level="Learning" LevelClass="level-10" />
        </div>
    </div>
    <div class="col-span-12 md:col-span-7">
        <div class="grid grid-cols-10 gap-4">
            <div class="col-span-10 relative overflow-hidden rounded-md shadow-md px-8 py-4">
                <div class="granulado"></div>
                <h1 class="sharetech text-center text-2xl text-teal-700">Other social networks</h1>
            </div>
            <a class="relative col-span-3 overflow-hidden rounded-md shadow-md p-2 md:p-8 hover:bg-opacity-15 hover:bg-gray-200 dark:hover:bg-opacity-15 dark:hover:bg-teal-700 hover:text-green-500 transition-all ease-in duration-150" href="https://medium.com/@ldcmleo">
                <div class="granulado"></div>
                <span class="absolute top-2 right-2 nf nf-oct-arrow_up_right"></span>
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-medium mr-auto ml-auto mb-4 w-10 h-10 md:w-16 md:h-16" viewBox="0 0 16 16">
                        <path d="M9.025 8c0 2.485-2.02 4.5-4.513 4.5A4.506 4.506 0 0 1 0 8c0-2.486 2.02-4.5 4.512-4.5A4.506 4.506 0 0 1 9.025 8m4.95 0c0 2.34-1.01 4.236-2.256 4.236S9.463 10.339 9.463 8c0-2.34 1.01-4.236 2.256-4.236S13.975 5.661 13.975 8M16 8c0 2.096-.355 3.795-.794 3.795-.438 0-.793-1.7-.793-3.795 0-2.096.355-3.795.794-3.795.438 0 .793 1.699.793 3.795"/>
                      </svg>
                    <h1 class="sharetech text-center text-2xl">Medium</h1>
                </div>
            </a>
            <a class="relative col-span-4 overflow-hidden rounded-md shadow-md p-2 md:p-8 hover:bg-opacity-15 hover:bg-gray-200 dark:hover:bg-opacity-15 dark:hover:bg-teal-700 hover:text-red-600 transition-all ease-in duration-150" href="https://www.tiktok.com/@ldcmleo">
                <div class="granulado"></div>
                <span class="absolute top-2 right-2 nf nf-oct-arrow_up_right"></span>
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-tiktok mr-auto ml-auto mb-4 w-10 h-10 md:w-16 md:h-16" viewBox="0 0 16 16"><path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z"/></svg>
                    <h1 class="sharetech text-center text-2xl">Tiktok</h1>
                </div>
            </a>
            <a class="relative col-span-3 overflow-hidden rounded-md shadow-md p-2 md:p-8 hover:bg-opacity-15 hover:bg-gray-200 dark:hover:bg-opacity-15 dark:hover:bg-teal-700 hover:text-purple-700 transition-all ease-in duration-150" href="https://www.twitch.tv/willymorou">
                <div class="granulado"></div>
                <span class="absolute top-2 right-2 nf nf-oct-arrow_up_right"></span>
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-twitch mr-auto ml-auto mb-4 w-10 h-10 md:w-16 md:h-16" viewBox="0 0 16 16">
                        <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142z"/>
                        <path d="M11.857 3.143h-1.143V6.57h1.143zm-3.143 0H7.571V6.57h1.143z"/>
                      </svg>
                    <h1 class="sharetech text-center text-2xl">Twitch</h1>
                </div>
            </a>
        </div>
    </div>
    <a href="https://www.megustaescribir.com/obra/106275/padre" class="relative col-span-12 md:col-span-5 overflow-hidden rounded-md shadow-md flex flex-row hover:bg-opacity-15 hover:bg-gray-200 dark:hover:bg-opacity-15 dark:hover:bg-teal-700">
        <div class="granulado"></div>
        <span class="absolute top-2 right-2 nf nf-oct-arrow_up_right"></span>
        <div class="w-1/3 h-full bg-center bg-cover ml-auto mr-auto flex-grow" style="background-image: url('https://www.megustaescribir.com/Images/COVER_MANUSCRIPT_106275');"></div>
        <div class="pl-4 w-2/3 pt-8 pb-8 pr-8">
            <h1 class="sharetech text-2xl text-teal-700">Creative writing</h1>
            <p class="">I wrote a story called `Padre`, a short story of reflection on life and interpersonal relationships. U can read it on megustaescribir.com</p>
        </div>
    </a>
</section>

<style>
    .sharetech {
        font-family: "Share Tech", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .nf-oct-arrow_up_right {
        transition: all 0.2s ease-in;
    }

    a:hover .nf-oct-arrow_up_right {
        top: 0.25rem;
        right: 0.25rem;
    }
</style>