---
const { link, icon, text } = Astro.props;

---
<a class="relative overflow-hidden text-teal-600 hover:text-zinc-900 dark:hover:text-white transition-colors ease-in duration-150" href={link}><b class={icon}></b> <span>{text}</span></a>
<style>
    a {
        font-size: 20px;
    }
    a span {
        position: absolute;
        top: 0;
        left: -200px;
        font-size: 16px;
    }

    a:hover span {
        position:initial;
    }
</style>