---
import Title from "./Title.astro";
import Repository from "./Repository.astro";

interface License {
    key: string;
    name: string;
    spdx_id: string;
    url: string;
    node_id: string;
}

interface Repo {
    name: string
    html_url: string
    description: string
    tags_url: string
    forks: number
    stargazers_count: number
    topics?: string[]
    licence?: License
}

const ExcludeRepositories: string[] = ["ldcmleo", "ldcmleo.github.io"];
const response = await fetch('https://api.github.com/users/ldcmleo/repos', {
    headers: {
        'Accept': 'application/vnd.github.v3+json'
    }
});
const data = await response.json();
const final_repos = data.filter((repo: any) => !ExcludeRepositories.includes(repo.name)) as Repo[];
---
<section class="grid grid-cols-12 gap-4 mx-2 pb-4 lg:mx-0">
    <Title Text="Github Repositories" IconClass="nf-fa-github_square" ColSpan="col-span-12" />
    {final_repos.map((repo) => (
        <Repository Data={repo} />
    ))}
</section>